<!DOCTYPE html>
<html lang="zxx">
	<head>

	
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" >
		<meta name="description" content="The responsive professional Get Doctor template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
		<meta name="keywords" content="practo clone, Get Doctor, doctor appointment, Practo clone html template, doctor booking template">
		<meta name="author" content="Practo Clone HTML Template - Doctor Booking Template">
		<meta property="og:url" content="https://Get Doctor.dreamstechnologies.com/html/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Doctors Appointment HTML Website Templates | Get Doctor">
		<meta property="og:description" content="The responsive professional Get Doctor template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
		<meta property="og:image" content="/assets/img/preview-banner.jpg">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="https://Get Doctor.dreamstechnologies.com/html/">
		<meta property="twitter:url" content="https://Get Doctor.dreamstechnologies.com/html/">
		<meta name="twitter:title" content="Doctors Appointment HTML Website Templates | Get Doctor">
		<meta name="twitter:description" content="The responsive professional Get Doctor template offers many features, like scheduling appointments with  top doctors, clinics, and hospitals via voice, video call & chat.">
		<meta name="twitter:image" content="assets/img/preview-banner.jpg">
		<title>Get Doctor</title>
		<script src="https://api.geoapify.com/v1/geocode/autocomplete?text=Mosco&apiKey=99d6c65c69374e6599c06423c5be87cf"></script>

		<!-- Favicon -->
		<link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
				
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

		<!-- Feathericon CSS -->
    	<link rel="stylesheet" href="/assets/css/feather.css">

    	<!-- Datepicker CSS -->
		<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css">

		<!-- Owl Carousel CSS -->
		<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">

		<!-- Animation CSS -->
		<link rel="stylesheet" href="/assets/css/aos.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="/assets/css/custom.css">
		<style>
		@media (min-width: 992px) {
			.mobile{
				display: none;
				margin-top:20px;
			}
		}
		
		.profile-text {
			color: white;
			font-weight: bold;
			text-decoration: none;
			margin-left: 3vw;
			margin-top: 2vw;
			display: block;
			padding: 10px;
		}
		
		
		.profile-circle {
			display: inline-block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			overflow: hidden;
			background-color: #f8f9fa;
		}
		
		/* Style for the user profile image */
		.profile-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		
		/* Style for the user dropdown menu */
		.dropdown-menu-profile {
			position: absolute;
			top: 60px;
			right: 0;
			z-index: 1000;
			min-width: 150px;
			padding: 10px;
			border-radius: 5px;
			background-color: #fff;
			box-shadow: 0 2px 5px rgba(0,0,0,0.1);
		}
		
		/* Style for the user dropdown menu items */
		.dropdown-menu-profile a {
			display: block;
			padding: 8px 15px;
			font-size: 14px;
			color: #333;
			text-decoration: none;
			transition: background-color 0.3s;
		}
		
		.dropdown-menu-profile a:hover {
			background-color: #f8f9fa;
		}
		
		
		
					.locationdrop{
						z-index: 10000;
						background-color: white;
						border: 1px solid rgba(0, 0, 0, 0.305);
						align-items: center;
						justify-content: space-between;
						position: absolute;
						width:100%;
						height: 100px;
						
						
					}
					.locationdrop:hover{
						cursor:pointer;
						
						
					}
				</style>
		<style>
			.dropdown-item {
			  padding: 10px;
			  cursor: pointer;
		
		
			}
			
			.dropdown-item:hover {
			  background-color: #f0f0f0; /* Change this to the color you want */
			}
			.btn-primary  {
			background-color: #0E82FD !important;
			border-color: #0E82FD !important;
		}
		.reg-btn{
			background-color: white !important;
			border-color: white !important;
		}
		.reg-btn:hover{
			background-color: #0E82FD !important;
			border-color: #0E82FD !important;
		}
		.log-btn{
			background-color: #0E82FD;
			border-color: #0E82FD !important;
		}
		.log-btn:hover{
			background-color: white !important;
			border-color: white !important;
			
		}
		
		  </style>
	</head>		
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper home-twelve">
					
		<!-- Header -->
		
			<!-- Home Banner -->
			<section class="banner-section-fourteen banner-section-twelve">
				<div class="banner-section-twelve-bg">
					<img src="assets/img/bg/home-12-banner-bg-1.png" alt="design-image">
					<img src="assets/img/bg/home-12-banner-bg-2.png" alt="design-image">
				</div>
				<div class="container">
					<div class="row">
						
						<div class="col-lg-6">
							<div class="banner-img banner-img-twelve aos" data-aos="fade-up">
								<img src="/assets/img/ambulance.png" class="img-fluid" alt="ambulance-image" >
							
								<!-- <img src="assets/img/bg/home-12-banner-2.png" class="img-fluid" alt="cat-image"> -->
								<div class="banner-banner-img-twelve-bg">
									<img src="assets/img/bg/dot-1.png" alt="dot-icon">
									<img src="assets/img/bg/dot-2.png" alt="dot-icon">
									<img src="assets/img/bg/ring-1.png" alt="ring-icon">
									<img src="assets/img/bg/ring-2.png" alt="ring-icon">
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							
							<div class="banner-content banner-content-fourteen aos" data-aos="fade-up">
								<h1>24/7 <span>Emergency Ambulance Care with Get Doctor</span></h1>
								<a href="#" style="font-size: 1.5em; color: #0E82FD;">For Emergency Medical Service</a>
								<p>Help / Rescues the Patient in case of the Emergency situation by doing just a click. Get doctor Ambulance comes right in front of the door for help.</p>
								<div class="banner-btns-fourteen ">
									<div class="row">
									<a href="booking.html" class="btn btn-primary me-2 mb-3" style="color: white !important;" >Book now</a>
									<p style="display: flex; justify-content: center; align-items: center;">or</p>
									<h4 style="display: flex; justify-content: center; align-items: center;">
										Call our Assistance
									</h4>
									<a href="booking.html" class="btn btn-primary "  style="color: white;">+91 7777777777</a>
									
								</div>
								</div>
							</div>
							</div>
						
						</div>
					</div>
			
			</section>
			<!-- /Home Banner -->

			<!-- Choose us -->
			<section class="choose-us-fourteen">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="section-header-fourteen text-center">
								<div class="service-inner-fourteen justify-content-center">
									<div class="service-inner-fourteen-two">
										<h3>Why Us</h3>
									</div>
								</div>
								<h2>Why Choose Us</h2>
								<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p> -->
							</div>
						</div>
					</div>
					<div class="row">
					
						<div class="col-lg-6">
							<div class="choose-us-right-main">
								<img src="/assets/img/cross.png" alt="image" class="img-fluid">
								
							</div>
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
							<div class="why-us-content">
								<div class="us-faq aos" data-aos="fade-up" data-aos-delay="200">
									<div class="accordion" id="accordionExample">
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingOne">
											<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												Patient first policy
											</button>
											</h2>
											<div id="collapseOne" class="accordion-collapse collapse shade show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
											<div class="accordion-body">
												<h6>At Get Doctor, our patient-first policy drives everything we do. We prioritize the well-being and comfort of our patients above all else. From the moment you reach out to us for assistance, our team is dedicated to providing you with the highest level of care and support throughout your journey.</h6>
											</div>
											</div>
										</div>
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingTwo">
											<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												Emergency assistance time of 15 minutes or less

											</button>
											</h2>
											<div id="collapseTwo" class="accordion-collapse collapse shade" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
											<div class="accordion-body">
												<h6>When it comes to emergencies, every second counts. That's why at Get Doctor, we guarantee swift response times. Our expertly trained medical personnel and state-of-the-art fleet of ambulances ensure that help reaches you within 15 minutes or less from the moment you request assistance, providing you with the urgent care you need, precisely when you need it.</h6>
											</div>
											</div>
										</div>
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingThree">
											<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												24/7 Support
											</button>
											</h2>
											<div id="collapseThree" class="accordion-collapse collapse shade" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
											<div class="accordion-body">
												<h6>Emergencies don't wait for convenient hours, and neither do we. Get Doctor offers round-the-clock support, 24 hours a day, 7 days a week. Whether it's the dead of night or the height of rush hour, you can count on us to be there for you whenever you need assistance. Our dedicated team is always on standby, ready to spring into action at a moment's notice.

												</h6>
											</div>
											</div>
										</div>
										<div class="accordion-item">
											<h2 class="accordion-header" id="headingFour">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
													Biggest fleet of ambulances across Kashmir
												</button>
											</h2>
											<div id="collapseFour" class="accordion-collapse collapse shade mb-2" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
												<div class="accordion-body">Get Doctor boasts the largest fleet of ambulances across Kashmir, ensuring extensive coverage and accessibility to our services throughout the region. With our expansive fleet, we're equipped to handle any medical situation, no matter where you are. Whether you're in the heart of the city or in remote areas, rest assured that Get Doctor is never far away, ready to provide prompt and reliable ambulance services at your doorstep.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h6>
												</div>
											</div>
											
									
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /Choose us -->


			<!-- services Section -->
			<section class="services-section-fourteen">
				<div class="floating-bg">
					
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-12 aos" data-aos="fade-up">
							<div class="section-header-fourteen service-inner-fourteen">
								<div class="service-inner-fourteen">
									<div class="service-inner-fourteen-two">
										<h3>OUR SERVICES</h3>
									</div>
								</div>
								<!-- <h2>What can We do</h2> -->
								<p>Our Other Medical Services</p>
							</div>
							
						</div>
						
					</div>
					<div class="row row-gap justify-content-center">
						<div class="col-lg-3 col-md-4 col-sm-12 d-flex">
							<div class="our-services-list w-100">
								<div class="service-icon">
									<img src="assets/img/icons/injection.svg" alt="injection-icon">
								</div>
								<a href="chat.html"><h4>Online Consultation</h4></a>
								
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-12 d-flex">
							<div class="our-services-list w-100">
								<div class="service-icon">
									<img src="assets/img/icons/bottel.svg" alt="bottel-icon">
								</div>
								<a href=""><h4>Clinic appointment</h4></a>
								
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-12 d-flex">
							<div class="our-services-list w-100">
								<div class="service-icon">
									<img src="assets/img/icons/bath-tub.svg" alt="pet-grooming-icon">
								</div>
								<a href="index-12.html"><h4>Lab Tests</h4></a>
								
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-12 d-flex">
							<div class="our-services-list w-100">
								<div class="service-icon">
									<img src="assets/img/icons/pet-doctor.svg" alt="stethoscope-icon">
								</div>
								<a href="Radiology.html"><h4>Radiology</h4></a>
							
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /services Section -->

	

			
			<!-- Footer -->
			<footer class="footer footer-one">
				<div class="footer-top aos" data-aos="fade-up">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-4">
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<a href="/index"><img src="assets/img/logo.png" alt="logo"></a>
									</div>
									<div class="footer-about-content">
										<p>Online consultations with medical professionals, providing convenient access to healthcare services from the comfort of your home.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="row">
									<div class="col-lg-3 col-md-4">
										<div class="footer-widget footer-menu">
											<h2 class="footer-title">Getdoctor</h2>
											<ul>
												<li><a href="/about-us">About Us</a></li>
												<li><a href="/privacy-policy">Privacy Policy</a></li>
												<li><a href="/term-condition">Terms & Conditions</a></li>
											</ul>
										</div>
									</div>
									<div class="col-lg-3 col-md-4">
										<div class="footer-widget footer-menu">
											<h2 class="footer-title">More</h2>
											<ul>
												<li><a href="/ambulance">Ambulance</a></li>
												<li><a href="/oxygen">Oxygen Cylinders</a></li>
												<li><a href="/labTest">Lab Tests</a></li>
											</ul>
										</div>
									</div>
									<div class="col-lg-6 col-md-4">
										<div class="footer-widget footer-contact">
											<h2 class="footer-title" id="contact">Contact Us</h2>
											<div class="footer-contact-info">
												<div class="footer-address">
													<p><i class="feather-map-pin"></i> Naqashpora Opp Masjid sharief</p>
												</div>
												<div class="footer-address">
													<p><i class="feather-phone-call"></i> +91 0000000000</p>
												</div>
												<div class="footer-address mb-0">
													<p><i class="feather-mail"></i>support@getdoctor.com</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-7">
								<div class="footer-widget">
									<h2 class="footer-title">Social Media</h2>
									
									<div class="social-icon">
									<ul>
										<li>
											<a href="https://www.facebook.com/profile.php?id=61556208508283&mibextid=ZbWKwL"><i class="fab fa-facebook"></i></a>
										</li>
										<li>
											<a href="https://www.instagram.com/getdoctor.in?igsh=MWtpam5jNTZ0bm1wNA=="><i class="fab fa-instagram"></i></a>
										</li>
										<li>
											<a href="https://x.com/getdoctordotin?t=nhciWM9pBAo9HuE3ioukWA&s=09"><i class="fab fa-twitter"></i></a>
										</li>
										
									</ul>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom">
					<div class="container">
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0"> Copyright © 2024 <a href="index.html" target="_blank">Get Doctor.</a> All Rights Reserved</p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
								
								
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->					
					</div>
				</div>
			</footer>
			<!-- /Footer -->

			<!-- Cursor -->
			<!-- <div class="mouse-cursor cursor-outer"></div>
			<div class="mouse-cursor cursor-inner"></div> -->
			<!-- /Cursor -->	
	
	
		<!-- /Main Wrapper -->

		<!-- ScrollToTop -->
		<div class="progress-wrap active-progress">
			<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
			<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
			</svg>
		</div>
		<!-- /ScrollToTop -->
	</div>
		<!-- jQuery -->
		<script src="/assets/js/jquery-3.7.1.min.js"></script>

	<!-- Bootstrap Bundle JS -->
	<script src="/assets/js/bootstrap.bundle.min.js"></script>

	<!-- Feather Icon JS -->
	<script src="/assets/js/feather.min.js"></script>

	<!-- Datepicker JS -->
	<script src="/assets/js/moment.min.js"></script>
	<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>

	<!-- Owl Carousel JS -->
	<script src="/assets/js/owl.carousel.min.js"></script>

	<!-- Slick JS -->
	<script src="/assets/js/slick.js"></script>

	<!-- select JS -->
	<script src="/assets/plugins/select2/js/select2.min.js"></script>

	<!-- Animation JS -->
	<script src="/assets/js/aos.js"></script>

	<!-- Fancybox -->
	<script src="/assets/plugins/fancybox/jquery.fancybox.min.js"></script>

	<!-- counterup JS -->
	<script src="/assets/js/jquery.waypoints.js"></script>
	<script src="/assets/js/jquery.counterup.min.js"></script>

	<!-- BacktoTop JS -->
	<script src="/assets/js/backToTop.js"></script>

	<!-- Custom JS -->
	<script src="/assets/js/script.js"></script>
	
	</body>
</html>