<%- include("partials/header",{loggedUser}); -%>
<!-- Breadcrumb -->
<div class="breadcrumb-bar-two">
    <div class="container">
        <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <h2 class="breadcrumb-title">Contact Us</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">Contact Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Contact Us -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="section-inner-header contact-inner-header">
                    <h6>Get in touch</h6>
                    <h2>Have Any Question?</h2>
                </div>
                <div class="card contact-card">
                    <div class="card-body">
                        <div class="contact-icon">
                            <i class="feather-map-pin"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Address</h4>
                            <p>Naqashpora Opp Masjid sharief</p>
                        </div>
                    </div>
                </div>
                <div class="card contact-card">
                    <div class="card-body">
                        <div class="contact-icon">
                            <i class="feather-phone"></i>
                        </div>
                        <div class="contact-details">
                            <h4>Phone Number</h4>
                            <p>+91 0000000000</p>
                        </div>
                    </div>
                </div>
                <div class="card contact-card">
                    <div class="card-body">
                        <div class="contact-icon">
                            <i class="feather-mail"></i>
                        </div>
                        <div class="contact-details">
                            <h4 style="color: black;"><a href="mailto:support@getdoctor.com">Email Address</a></h4>
                            <p><a href="mailto:support@getdoctor.com">support@getdoctor.com</a></p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 d-flex">
                <div class="card contact-form-card w-100">
                    <div class="card-body">
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="mb-2">Name</label>
                                        <input type="text" class="form-control" placeholder="Enter Your Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="mb-2">Email Address</label>
                                        <input type="text" class="form-control" placeholder="Enter Email Address">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="mb-2">Phone Number</label>
                                        <input type="text" class="form-control" placeholder="Enter Phone Number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="mb-2">Services</label>
                                        <input type="text" class="form-control" placeholder="Enter Services">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="mb-2">Message</label>
                                        <textarea class="form-control" placeholder="Enter your comments"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group-btn mb-0">
                                        <button type="submit" class="btn btn-primary prime-btn">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Contact Us -->

<!-- Contact Map -->
<div class="contact-map d-flex">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.761286077305!2d74.8114855!3d34.080067!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38e18f3a3e7e84bf%3A0x3b7345c068404e01!2sBarbar%20shah%20naqash%20pora!5e0!3m2!1sen!2sin!4v1669777904208!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<!-- /Contact Map -->

<!-- Footer -->
<footer class="footer footer-one">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <a href="index.html"><img src="/assets/img/logo.png" alt="logo"></a>
                        </div>
                        <div class="footer-about-content">
                            <p>Online consultations with medical professionals, providing convenient access to
                                healthcare services from the comfort of your home.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">Getdoctor</h2>
                                <ul>
                                    <li><a href="/about-us">About Us</a></li>
                                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                                    <li><a href="/term-condition">Terms & Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">More</h2>
                                <ul>
                                    <li><a href="/ambulance">Ambulance</a></li>
                                    <li><a href="/oxygen">Oxygen Cylinders</a></li>
                                    <li><a href="index-12.html">Lab Tests</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4">
                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contact Us</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <p><i class="feather-map-pin"></i> Naqashpora Opp Masjid sharief</p>
                                    </div>
                                    <div class="footer-address">
                                        <p><i class="feather-phone-call"></i> +91 0000000000</p>
                                    </div>
                                    <div class="footer-address mb-0">
                                        <p><i class="feather-mail"></i>support@getdoctor.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-7">
                    <div class="footer-widget">
                        <h2 class="footer-title">Social Media</h2>

                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a
                                        href="https://www.facebook.com/profile.php?id=61556208508283&mibextid=ZbWKwL"><i
                                            class="fab fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/getdoctor.in?igsh=MWtpam5jNTZ0bm1wNA=="><i
                                            class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="https://x.com/getdoctordotin?t=nhciWM9pBAo9HuE3ioukWA&s=09"><i
                                            class="fab fa-twitter"></i></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <!-- Copyright -->
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="copyright-text">
                            <p class="mb-0"> Copyright © 2024 <a href="index.html" target="_blank">Get Doctor.</a>
                                All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">



                    </div>
                </div>
            </div>
            <!-- /Copyright -->
        </div>
    </div>
</footer>


<!-- /Footer -->

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="assets/js/jquery-3.7.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="assets/js/bootstrap.bundle.min.js"></script>

<!-- Daterangepikcer JS -->
<script src="assets/js/moment.min.js"></script>
<script src="assets/plugins/daterangepicker/daterangepicker.js"></script>

<!-- Custom JS -->
<script src="assets/js/script.js"></script>

</body>
</html>