<%- include("partials/header",{loggedUser}); -%>
	<!-- Breadcrumb -->
	<div class="breadcrumb-bar-two">
		<div class="container">
			<div class="row align-items-center inner-banner">
				<div class="col-md-12 col-12 text-center">
					<h2 class="breadcrumb-title">Refund Policy</h2>
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">Home</a></li>
							<li class="breadcrumb-item" aria-current="page">Refund Policy</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- /Breadcrumb -->
	<!-- Page Content -->
	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="terms-content">
						<div class="terms-text">
							<h3>Return and Refund Policy</h3>
							<p>Last updated: March 06, 2024</p>
							<p>Thank you for shopping at get doctor.</p>
							<p>If, for any reason, You are not completely satisfied with a purchase We invite You to
								review our policy on refunds and returns. This Return and Refund Policy has been created
								with the help of the <a
									href="https://www.privacypolicies.com/return-refund-policy-generator/"
									target="_blank">Return and Refund Policy Generator</a>.</p>
							<p>The following terms are applicable for any products that You purchased with Us.</p>
						</div>
						<div class="terms-text">
							<h2>Interpretation and Definitions</h2>
						</div>
						<div class="terms-text">
							<h3>Interpretation</h3>
							<p>The words of which the initial letter is capitalized have meanings defined under the
								following conditions. The following definitions shall have the same meaning regardless
								of whether they appear in singular or in plural.</p>
							<h3>Definitions</h3>
							<p>For the purposes of this Return and Refund Policy:</p>
							</div>
							<div class="terms-text">

							<ul>
								<li>
									<p><strong>Company</strong> (referred to as either &quot;the Company&quot;,
										&quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to
										get doctor.</p>
								</li>
								<li>
									<p><strong>Goods</strong> refer to the items offered for sale on the Service.</p>
								</li>
								<li>
									<p><strong>Orders</strong> mean a request by You to purchase Goods from Us.</p>
								</li>
								<li>
									<p><strong>Service</strong> refers to the Website.</p>
								</li>
								<li>
									<p><strong>Website</strong> refers to get doctor, accessible from <a
											href="getdoctor.in" rel="external nofollow noopener"
											target="_blank">getdoctor.in</a></p>
								</li>
								<li>
									<p><strong>You</strong> means the individual accessing or using the Service, or the
										company, or other legal entity on behalf of which such individual is accessing
										or using the Service, as applicable.</p>
								</li>
							</ul>
							</div>
							<div class="terms-text">
							<h2>Your Order Cancellation Rights</h2>
							<p>You are entitled to cancel Your Order within 7 days without giving any reason for doing
								so.</p>
							<p>The deadline for cancelling an Order is 7 days from the date on which You received the
								Goods or on which a third party you have appointed, who is not the carrier, takes
								possession of the product delivered.</p>
							<p>In order to exercise Your right of cancellation, You must inform Us of your decision by
								means of a clear statement. You can inform us of your decision by:</p>
							<ul>
								<li>By email: mailtomydoctor@gmail.com</li>
							</ul>
							<p>We will reimburse You no later than 14 days from the day on which We receive the returned
								Goods. We will use the same means of payment as You used for the Order, and You will not
								incur any fees for such reimbursement.</p>
							<h2>Conditions for Returns</h2>
							<p>In order for the Goods to be eligible for a return, please make sure that:</p>
							</div>
							<div class="terms-text">
							<ul>
								<li>The Goods were purchased in the last 7 days</li>
								<li>The Goods are in the original packaging</li>
							</ul>
							<p>The following Goods cannot be returned:</p>
							<ul>
								<li>The supply of Goods made to Your specifications or clearly personalized.</li>
								<li>The supply of Goods which according to their nature are not suitable to be returned,
									deteriorate rapidly or where the date of expiry is over.</li>
								<li>The supply of Goods which are not suitable for return due to health protection or
									hygiene reasons and were unsealed after delivery.</li>
								<li>The supply of Goods which are, after delivery, according to their nature,
									inseparably mixed with other items.</li>
							</ul>
							<p>We reserve the right to refuse returns of any merchandise that does not meet the above
								return conditions in our sole discretion.</p>
							<p>Only regular priced Goods may be refunded. Unfortunately, Goods on sale cannot be
								refunded. This exclusion may not apply to You if it is not permitted by applicable law.
							</p>
							<h2>Returning Goods</h2>
							<p>You are responsible for the cost and risk of returning the Goods to Us. You should send
								the Goods at the following address:</p>
							<p>la villa buidling naqashpora bar bar shah 190001</p>
							<p>We cannot be held responsible for Goods damaged or lost in return shipment. Therefore, We
								recommend an insured and trackable mail service. We are unable to issue a refund without
								actual receipt of the Goods or proof of received return delivery.</p>
							<h2>Gifts</h2>
							<p>If the Goods were marked as a gift when purchased and then shipped directly to you,
								You'll receive a gift credit for the value of your return. Once the returned product is
								received, a gift certificate will be mailed to You.</p>
							<p>If the Goods weren't marked as a gift when purchased, or the gift giver had the Order
								shipped to themselves to give it to You later, We will send the refund to the gift
								giver.</p>
							<h3>Contact Us</h3>
							<p>If you have any questions about our Returns and Refunds Policy, please contact us:</p>
							<ul>
								<li>By email: mailtomydoctor@gmail.com</li>
							</ul></div></div></div></div></div></div>
							<!-- Footer -->
							<footer class="footer footer-one">
								<div class="footer-top">
									<div class="container">
										<div class="row">
											<div class="col-lg-3 col-md-4">
												<div class="footer-widget footer-about">
													<div class="footer-logo">
														<a href="index.html"><img src="/assets/img/logo.png"
																alt="logo"></a>
													</div>
													<div class="footer-about-content">
														<p>Online consultations with medical professionals, providing
															convenient access to healthcare services from the comfort of
															your home.</p>
													</div>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="row">
													<div class="col-lg-3 col-md-4">
														<div class="footer-widget footer-menu">
															<h2 class="footer-title">Getdoctor</h2>
															<ul>
																<li><a href="/about-us">About Us</a></li>
																<li><a href="/privacy-policy">Privacy Policy</a></li>
																<li><a href="/term-condition">Terms & Conditions</a>
																</li>
															</ul>
														</div>
													</div>
													<div class="col-lg-3 col-md-4">
														<div class="footer-widget footer-menu">
															<h2 class="footer-title">More</h2>
															<ul>
																<li><a href="/ambulance">Ambulance</a></li>
																<li><a href="/oxygen">Oxygen Cylinders</a></li>
																<li><a href="index-12.html">Lab Tests</a></li>
															</ul>
														</div>
													</div>
													<div class="col-lg-6 col-md-4">
														<div class="footer-widget footer-contact">
															<h2 class="footer-title">Contact Us</h2>
															<div class="footer-contact-info">
																<div class="footer-address">
																	<p><i class="feather-map-pin"></i> Naqashpora Opp
																		Masjid sharief</p>
																</div>
																<div class="footer-address">
																	<p><i class="feather-phone-call"></i> +91 0000000000
																	</p>
																</div>
																<div class="footer-address mb-0">
																	<p><i class="feather-mail"></i>support@getdoctor.com
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="col-lg-3 col-md-7">
												<div class="footer-widget">
													<h2 class="footer-title">Social Media</h2>

													<div class="social-icon">
														<ul>
															<li>
																<a
																	href="https://www.facebook.com/profile.php?id=61556208508283&mibextid=ZbWKwL"><i
																		class="fab fa-facebook"></i></a>
															</li>
															<li>
																<a
																	href="https://www.instagram.com/getdoctor.in?igsh=MWtpam5jNTZ0bm1wNA=="><i
																		class="fab fa-instagram"></i></a>
															</li>
															<li>
																<a
																	href="https://x.com/getdoctordotin?t=nhciWM9pBAo9HuE3ioukWA&s=09"><i
																		class="fab fa-twitter"></i></a>
															</li>

														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="footer-bottom">
									<div class="container">
										<!-- Copyright -->
										<div class="copyright">
											<div class="row">
												<div class="col-md-6 col-lg-6">
													<div class="copyright-text">
														<p class="mb-0"> Copyright © 2024 <a href="index.html"
																target="_blank">Get Doctor.</a> All Rights Reserved</p>
													</div>
												</div>
												<div class="col-md-6 col-lg-6">



												</div>
											</div>
										</div>
										<!-- /Copyright -->
									</div>
								</div>
							</footer>
							<!-- /Footer -->
							<!-- jQuery -->
							<script src="/assets/js/jquery-3.7.1.min.js"></script>

							<!-- Bootstrap Core JS -->
							<script src="/assets/js/bootstrap.bundle.min.js"></script>

							<!-- Custom JS -->
							<script src="/assets/js/script.js"></script>

							</body>

							</html>