			<!-- Footer -->
		<!-- Footer -->
		<footer class="footer footer-one">
			<div class="footer-top aos" data-aos="fade-up">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-4">
							<div class="footer-widget footer-about">
								<div class="footer-logo">
									<a href="/index"><img src="assets/img/logo.png" alt="logo"></a>
								</div>
								<div class="footer-about-content">
									<p>Online consultations with medical professionals, providing convenient access to healthcare services from the comfort of your home.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row">
								<div class="col-lg-3 col-md-4">
									<div class="footer-widget footer-menu">
										<h2 class="footer-title">Getdoctor</h2>
										<ul>
											<li><a href="/about-us">About Us</a></li>
											<li><a href="/privacy-policy">Privacy Policy</a></li>
											<li><a href="/term-condition">Terms & Conditions</a></li>
											<li><a href="/refund-policy">Refund Policy</a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-3 col-md-4">
									<div class="footer-widget footer-menu">
										<h2 class="footer-title">More</h2>
										<ul>
											<li><a href="/ambulance">Ambulance</a></li>
											<li><a href="/oxygen">Oxygen Cylinders</a></li>
											<li><a href="/labTest">Lab Tests</a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-6 col-md-4">
									<div class="footer-widget footer-contact">
										<h2 class="footer-title" id="contact">Contact Us</h2>
										<div class="footer-contact-info">
											<div class="footer-address">
												<p><i class="feather-map-pin"></i> Naqashpora Opp Masjid sharief</p>
											</div>
											<div class="footer-address">
												<p><i class="feather-phone-call"></i> +91 1943-593561</p>
											</div>
											<div class="footer-address mb-0">
												<p><i class="feather-mail"></i>support@getdoctor.com</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-7">
							<div class="footer-widget">
								<h2 class="footer-title">Social Media</h2>
								
								<div class="social-icon">
								<ul>
									<li>
										<a href="https://www.facebook.com/profile.php?id=61556208508283&mibextid=ZbWKwL"><i class="fab fa-facebook"></i></a>
									</li>
									<li>
										<a href="https://www.instagram.com/getdoctor.in?igsh=MWtpam5jNTZ0bm1wNA=="><i class="fab fa-instagram"></i></a>
									</li>
									<li>
										<a href="https://x.com/getdoctordotin?t=nhciWM9pBAo9HuE3ioukWA&s=09"><i class="fab fa-twitter"></i></a>
									</li>
									
								</ul>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<!-- Copyright -->
					<div class="copyright">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<div class="copyright-text">
									<p class="mb-0"> Copyright © 2024 <a href="index.html" target="_blank">Get Doctor.</a> All Rights Reserved</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">
							
							
								
							</div>
						</div>
					</div>
					<!-- /Copyright -->					
				</div>
			</div>
		</footer>
		<!-- /Footer -->

</div>
<!-- /Main Wrapper -->

<script>
	const contactUs = document.getElementById('contact');
	contactUs.addEventListener('click', () =>{
		window.location.href = '/contact-us';
	})
</script>